@use "variable";

.revenue_datepicker {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
    padding-right: 63px;
    .revenue {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        height: 28px;
    }
    .datepicker {
        width: 155px;
        height: 40px; 
    }
}
.area {
    margin-top: 27px;
    width: 98%;
    height: 80px;
}
.revenue_week_total {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-top: 40px;
    width: 188px;
    height: 22px;
}
.currency {
    .amount {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        width: 188px;
        height: 22px;
    }
    .unit {
        margin-left: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }
}
.donut_chart {
    height: calc(100% - 394px);
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    .datepicker {
        margin-right: 50px;
    }
    .donut_chart_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
        .donut_chart_title {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;  
            padding-bottom: 25px;
        }
    }
    .chart-type {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
        .chart-color-orange,
        .chart-color-blue {
            border-radius: 4px;
            width: 44px;
            height: 20px;
            margin-right: 8px;
        }
        .chart-color-blue {
            background: #4F75FF;
        }
        .chart-color-orange {
            background: #FF8A48;
        }
        .chart-text {
            font-weight: 400;
        }
    }
}
