@import '../variable';
@import '../mixin';

.search-component {
    padding: 10px 16px;
    gap: 16px;
    border-radius: 8px;
    height: 48px;
    background: #EDE6E6;
    span {
        background: #EDE6E6;
        padding: 0;
        border: none;
        input {
            background: #EDE6E6;
            height: 28px;
            width: 361px;
        }
      }
}