@import "../styles/variable";
@import "../styles/mixin";

.features {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
    padding-right: 24px;
    Button {
        border-radius: 8px;
        border-color: $color-button;
        color: $color-button;
        margin-left: 10px;
        &:hover {
            @include transparent-button($color-button);
        }
        &::selection {
            @include transparent-button($color-button);
        }
    }

}

.ant-modal-content {
    width: 634px;
    .ant-modal-header {
        justify-content: center;
        .ant-modal-title {
            color: #1E0D03;
        }      
    }
    .date-picker-form {
        display: flex;
        flex-direction: row;
        .ant-row {
            margin-right: 122px;
            .ant-col.ant-form-item-control {
                width: 143px;
                .ant-picker {
                    border: 1px solid #A5A8B1;
                    path {
                        fill: #FF993C;
                    }
                }
            }
        }
    }
    .usage-status-form {
        margin-top: 20px;
        .ant-checkbox-group {
            width: 100%;
            .ant-checkbox-group-item {
                margin-right: 25px;
                .ant-checkbox-inner {
                    border-radius: 20px;
                }
            }
        }
    }
    .ant-col.ant-form-item-label {
        padding: 0;
        label {
            font-weight: 600;
            font-size: 16px;
        }
    }
}