@use "variable";

.content-component {
    padding: 20px 32px 32px 0px;
    align-items: stretch;
    height: 100%;
    .chart-area {
        background: #FFFFFF;
        height: 100%;
        border-radius: 24px;
    }
}
