@use "variable";

.chart-area {
    background: #FFFFFF;
    height: 100%;
    border-radius: 24px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        width: 178px;
        height: 54px;
        margin-top: 24px;
    }
    .revenue_datepicker {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 32px;
        padding-right: 63px;
        .revenue {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            height: 28px;
        }
        .datepicker {
            width: 155px;
            height: 40px; 
        }
    }
    .area {
        margin-top: 27px;
        width: 98%;
        height: 80px;
    }
    .revenue_week_total {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        margin-top: 40px;
        width: 188px;
        height: 22px;
    }
    .currency {
        .amount {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            width: 188px;
            height: 22px;
        }
        .unit {
            margin-left: 4px;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
        }
    }
    .donut_chart {
        height: calc(100% - 394px);
        background-color: pink;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        // padding: 83px 0px 53px 8px;
        .donut_chart_item {
            background-color: yellow;
            display: flex;
            flex-direction: column;
            margin-right: 24px;
            width: 50%;
            align-items: center;
            .donut_chart_title {
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                padding-bottom: 25px;
            }
        }
    }
}
